html, body {
    margin: 0;
    padding: 0;
    background-color: mintcream;
}


.main-header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    padding-bottom: 0;
}

.image-header{
    width: 200px;
    height: 50px;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.button1{
    border: 3px inset #D3D3D3;
    background-color: white; 
    padding: 2px 6px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    margin-left: 40%;

}

.button2{
    border: 3px inset #D3D3D3;
    background-color: white; 
    padding: 2px 6px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    align-items: center;

}

.heading{
    color: darkblue;
    text-align: center;
    margin-top: 2em;
    margin-left: 3em;
    font-family: Arial, Helvetica, sans-serif;
}


.btn{
    display: block;
    text-align: center;
    padding: .67em .67em;
    cursor: pointer;
    background-color: royalblue;
    color: mintcream;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: .3em;
    font-weight: bold;

}

.btn2{
    display: block;
    text-align: center;
    padding: .67em .67em;
    cursor: pointer;
    background-color: royalblue;
    color: mintcream;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    

}

.btn:hover{
    transform: translateY(2px);
}

.btn2:hover{
    transform: translateY(2px);
}

.container{
    margin: 0 auto;
    padding: 0 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.content-section {
    margin: 1em;
}

.text1{
    margin-left: 5em;
}
.map{
    max-width: 100%;
    height: 20em;
    width: 25em;
}
table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed ;
    width: 80%;
    height: 100%;
    margin-top: 0em;
    border-collapse: collapse;
  }

  th {
    text-align: center;
    align-items: center;
    padding: 15px;
}
.a1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .a2{
    margin: 30px;
  }


.height{
    line-height: 220%;
    font-family: Arial, Helvetica, sans-serif;
}

.para{
    color: lightslategray;
}
.color-font{
    color: lightslategray;
}



@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){
    table,tr,th{
        display: block;
    }
    
        th { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
    }


    th:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
}

.spread-video {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

